@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700;800;900&family=Lato:wght@300;400;700;900&display=swap');

body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
  }

  .header {
    display: flex;
    justify-content: space-between;
    padding: 13px 20px 10px 20px;
    align-items: center;
  }

  .logo {
    width: 170px;
  }
   
  .logo img {
    width: 100%;
    height: 100%;
  }

  .nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    width: 100%;
    height: 100%;
    padding-bottom: 15px;
  }
  .nav-list li {
    list-style: none;
  }

  .nav-list li a {
    text-decoration: none;
    font-size: 14px;
    padding: 5px;
    color: black;
    font-weight: bold;
    text-transform: capitalize;
  }

  .download-app {
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(150, 150, 150);
    border-radius: 8px;
    padding: 2px;
    text-align: center;
    align-items: center;
  }

  .app-icon {
    color: rgb(47, 185, 235)
  }

  .main-section {
    background-image: url('../assets/2022-06-05_Vrbo_APFT2_Barcelona_Therin_House_2_4605_2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
  }

  .main-content {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.486);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
  }

  .location-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 0 30px 0 30px;
    width: 100%;
    height: 100%;
  }

  .main-heading {
    font-size: 40px;
  }

  .form {
    display: flex;
    gap: 20px;
    background-color: white;
    padding: 15px;
    border-radius: 15px;
  }

  .form i {
    position: absolute;
    color: black;
    padding: 10px;
    min-width: 50px;
    text-align: center;
  }

  .input {
    width: 100%;
  }

  .input-field {
    width: 100%;
    padding: 10px;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
  }

  .button {
    background-color: rgb(52, 46, 87);
    border: none;
    color: white;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
  }

  .button:hover {
    background-color: rgb(52, 46, 87);
    opacity: .8;
  }

  .dich-section {
    padding: 30px;
  }

  .dich-heading-one {
    font-size: 19px;
    padding: 20px 0 20px 20px;
  }

  .dich-heading-two {
    font-size: 19px;
    padding: 0 0 0 20px;
  }

  .dich-card-container {
    display: flex;
    gap: 20px;
    margin: 20px;
  }

  .dich-card {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 30%;
    height: 120px;
    border-radius: 10px;
    border: none;
  }

  .dich-card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
    height: 80%;
  }

  .dich-card span {
    padding-left: 10px;
    font-size: 15px;
    font-weight: bold;
  }

  .finde-section {
    margin: 20px 40px 20px 40px;
  }

  .finde-card-container {
    display: flex;
    gap: 12px;
    margin-top: 20px;
  }

  .finde-card {
    width: 250px;
    height: 180px;
    border-radius: 7px;
  }

  .finde-card-one {
    background-image: url('https://forever.travel-assets.com/flex/flexmanager/images/2022/11/04/house.jpeg?impolicy=fcrop&w=600&h=450&q=mediumHigh');
  }

  .finde-card-two {
    background-image: url('https://forever.travel-assets.com/flex/flexmanager/images/2022/11/04/condo.jpeg?impolicy=fcrop&w=400&h=300&q=medium');
  }

  .finde-card-three {
    background-image: url('https://a.travel-assets.com/travel-assets-manager/vrbex-onekey/DE-Hero-Image_Balje.jpg?impolicy=fcrop&w=1400&h=600&q=mediumHigh')
  }

  .finde-card-four {
    background-image: url('https://forever.travel-assets.com/flex/flexmanager/images/2022/05/24/villa.jpg?impolicy=fcrop&w=600&h=450&q=mediumHigh')
  }

  .finde-card-one,
  .finde-card-two,
  .finde-card-three,
  .finde-card-four {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%; 
    border-radius: 10px;
    border: none;
    color: white;
}

.finde-card-one,
.finde-card-two,
.finde-card-three,
.finde-card-four p {
    font-size: 17px;
    padding: 0 0 10px 10px;
    font-weight: bold;
}

.ferie-section {
    background-color: white;
    padding: 40px;
}

.ferie-container {
    background-image: url('https://a.travel-assets.com/travel-assets-manager/vrbex-onekey/DE-Hero-Image_Balje.jpg?impolicy=fcrop&w=1400&h=600&q=mediumHigh');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    border: none;
    width: 100%;
    height: 80vh;
}

.farie-content {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.486);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;   
    padding: 40px;
}

.farie {
    width: 40%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.farie p {
    font-size: 14px;
    font-weight: 300;
}

.farie button {
    width: 170px;
    background-color: rgb(52, 46, 87);
    padding: 10px 0 10px 0;
    color: white;
    border: none;
    border-radius: 15px;
}

.inspirieren-section,
.ferienhauser-section {
    background-color: white;
    padding: 40px;
    margin: 10px;
}

.inspirieren-container {
    display: flex;
    gap: 40px;
    margin-top: 20px;
}

.inspirieren-card {
    width: 450px;
    height: 240px;
    border-radius: 7px;
}

.inspirieren-image {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%; 
    border: none;
    color: white;
}

.inspirieren-card img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.inspirieren-content {
    margin: 10px 0 10px 0 ;
    font-size: 14px;
}

.inspirieren-content p {
    font-weight: 300;
}

.inspirieren-content span {
    font-weight: bold;
}

.ferienhauser-container {
    display: flex;
    gap: 40px;
    margin-top: 20px;
}

.ferienhauser-card {
    width: 450px;
    height: 240px;
    border-radius: 7px;
}

.ferienhauser-card img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.ferienhauser-content {
    margin: 10px 0 10px 0 ;
    font-size: 14px;
}

.ferienhauser-content p {
    font-weight: 300;
}

.ferienhauser-content span {
    font-weight: bold;
}